@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 }

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid #000000;
    background: #1f628d;
    z-index: 999;
}

/* main */

.align-center {
    align-items: center;
}

.margin-right-m {
    margin-right: 86px;
}

.margin-y-1 {
    margin: 25px 0;
}

.padding-y-1 {
    padding: 15px 0;
}

.padding-bot-5 {
    padding-bottom: 18px;
}

.nav-main li {
    display: inline;
    margin-right: 36px;
    padding: 15px 0;
}

.kode-mono-font {
    font-family: "Kode Mono", sans-serif;
}

.text-blue {
    color: blue;
}

.text-split-blue-red {
    background: linear-gradient(to bottom, blue 50%, red 50%);
    background-clip: text;
  /*add this line, it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text;
  /* add this line, for browsers compatibility */
  -webkit-text-fill-color: transparent;
}

.nav-main a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffffe8;
    padding: 0 54px 11px;
    transition: border 0.1s;
    
}

.nav-main a:hover {
    text-decoration: none;
    border-bottom: 5px solid #fff;
}

.nav-brand {
    height: 50px;
    position: absolute;
    left: 28%;
    top: 12px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-x {
    display: flex;
    justify-content: center;
}

.flex-center-y {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.flex-centered {
    justify-content: center;
}

.main-content {
    /* height: 92.3vh; */
    padding: 145px 15vw 60px;
}

.main-dialog-1 {
    padding-right: 120px;
}

.btn-main {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Courier New;
    color: #1f628d;
    font-size: 1.5rem;
    font-weight: 600;
    background: #ffffff;
    padding: 8px 48px;
    border: solid #1f628d 2px;
    text-decoration: none;
    margin-bottom: 8px;
    width: 26em;
    transition: color 0.4s, background 1s;
    /* transition: background-image 0.4s; */
}

.btn-main:hover {
    background: #3cb0fd;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor: pointer;
}

.center-cont {
    margin-bottom: 60px;
}

.main-bkg {
    height: auto;
    /* overflow: hidden; */
    position: absolute;
    width: -webkit-fill-available;
    /* height: -webkit-fill-available; */
    background-color: #22222231;
    background: linear-gradient(rgba(255, 255, 255, 0.9), #dfedfac0), url("img/programming-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: bottom; */
    /* opacity: ; */
}

.jumbotron-text {
    position: relative;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 7.15rem;
    font-weight: 800;
    line-height: 100px;
    margin-top: 10px;
    z-index: 990;
}

.jumbotron-text span{
    letter-spacing: 14px;
}

.main-display-text-1{
    margin-bottom: 10px;
}

.main-display-text-2 {
    margin-bottom: 65px;
    
}

.main-display-text-2 h2, .main-display-text-2 h2 span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}


.poem-first-verse {
    margin-bottom: 14px;
}

.main-display-text-1 {
    font-family: "Montserrat", sans-serif;
}

.landing-icons {
    margin: 70px 0 60px;
}

.landing-icons i {
    font-size: 5.4rem;
    margin-right: 32px;
    transition: color 0.6s;
    color: #000000;
    z-index: 999;
}

.landing-icons i:hover {
    cursor: pointer;
    color: #1f628d;
}


.sixtyfour-unmotivated {
    top: 28rem;
    left: 9rem;
    z-index: 2;
    position: absolute;
    font-family: "Rock Salt", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1f628d;
    font-size: 1.8em;
    opacity: .7;
    transform: rotate(-25deg);
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.landing-poem .poem-content p {
    font-family: "Kode Mono", sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #005705;
}

.feat-cont {
    width: 71em;
    padding-bottom: 32px;
}

.feat-count {
    font-family: "Kode Mono", sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    color: #184c6d;
}

.feat-box {
    margin-left: 80px;
}

.feat-desc {
    font-size: 1.2rem;
}

.get-a-life {
    position: absolute;
    font-size: 5rem;
    right: 15vw;
    top: 75vh;
    transform: rotate(15deg);
    opacity: .5;
}

.tech-stax-text {
    position: absolute;
    top: 96vh;
    right: 68vw;
    font-family: "Rock Salt", cursive;
    color: #1f628d;
    transform: rotate(-15deg);
    opacity: .7;
}

.tech-stacks-cont {
    margin-bottom: 75px;
}

.btn-main {
    margin-bottom: 40px;
}

.still-learning-text {
    position: absolute;
    top: 101vh;
    right: 70vw;
    font-family: "Rock Salt", cursive;
    color: #1f628d;
    transform: rotate(-15deg);
    opacity: .7;
}

.tech-icons {
    font-size: 5.4rem;
    text-align: center;
    margin-top: 26px;
    /* margin-left: 115px; */
    word-spacing: 0.5rem;
}

.dropdown {
    position: fixed;
    z-index: 999;
    display: none;
    top: 64px;
}

.dropdown a {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;    
}

.dropdown ul {
    list-style-type: none;
}

#feat-proj-dropdown {
    /* position: absolute;
    z-index: 999; */
    right: 36.5vw;
    /* display: none; */
    width: 391.36px;
}

#connect-dropdown {
    right: 18.7vw;
}


.dropdown li {
    background-color: aliceblue;
    padding: 12px 35px;
    border-bottom: 1px solid #3498db;
    text-align: center;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.3rem;
    background: #11364e;
    color: white;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }

  .footer-brand-name {
    color: rgb(183, 232, 255);
  }

  .footer-icons a {
    color: rgb(183, 232, 255);
    padding: 0 1.4vw;
  }